<!-- templates/accounts.ejs -->

<!DOCTYPE html>
<html>
<style>
#accounts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#accounts td, #accounts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#accounts tr:nth-child(even){background-color: #f2f2f2;}

#accounts tr:hover {background-color: #ddd;}

#accounts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #003F58;
  color: white;
}
</style>
<body>
	<div id="container">
		<h1>
			Hello,  <b><%= email %></b>.
		</h1>
		<table id="accounts" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Access</th>
				</tr>
			</thead>
			<tbody>
                <% accounts.forEach(function(account) { %>
                    <tr>
    					<td><%= account.id %></td>
    					<td><%= account.name %></td>
    					<td><%= account.role %></td>
    				</tr>
                <% }); %>
			</tbody>
		</table>
        <div>
            <a href="<%= homepageLink %>">go to homepage</a>
        </div>
        <div>
            <a href="<%= logoutLink %>">logout</a>
        </div>
	</div>
</body>
</html>
